*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

input{
    cursor: pointer;
    transition: 0.5s;
}

p,h1,h2,h3{
    cursor:default ;
}

input:hover{
    filter: opacity(80%);
}

button{
    border: 0;
    cursor: pointer;
    font-family: 'Caladea', sans-serif;
    transition: 0.5s;
    
}

button:hover{
    filter: opacity(80%);
    
}

a{
    text-decoration: none;
    transition: 0.5s;
}



a:hover{
    filter: opacity(80%);
}

.Container{
    overflow: auto;
}

.headerContainer{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerContainer a{
    font-size: 2rem;
    font-weight: 300;
    color: #b4302d;
    font-family: 'Chonburi', sans-serif;
}


.headerImg{
    max-width: 100px;
    max-height: 100px;
}

.ContainerIns{
    background: #b4302d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 650px;

    
}

.ContainerIns h1{
    color: white;
    font-weight: 300;
    font-family: 'Chonburi', sans-serif;
    font-size: 6rem;
   
}

.ContainerIns a input{
    background: red;
    color: white;
    padding: 1rem;
    font-family: 'Caladea', sans-serif;
    font-size: 2rem;
    border: 0;
    
}

.ContainerOq{
    
    padding: 2rem;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;

}

.ContainerOq h1{
    margin-top: 50px;
    font-weight: 300;
    font-family: 'Caladea', sans-serif;
    font-size: 4rem;
    color: #b4302d;
    margin-right: 900px;
    
}

.ContainerOq p{
    margin-top: 1rem;
    font-size: 2rem;
    font-family: 'Caladea', sans-serif;
    font-weight: 300;
    color: black;
}

.traço{
    background: red;
    height: 2px;
    margin-top: 3rem;
    width: 1300px;
}

.ContainerEscolha{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 50px;
}



.divEscolha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    


    
    
}

.divEscolha h1{
    color: #b4302d;
    font-weight: 600;
    font-family: 'Chonburi', sans-serif;
    margin-top: 20px;

}

.divEscolha p{
    color:black;
    font-weight: 300;
    font-family: 'Caladea', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;

}

.divEscolha button{
    background: #b4302d;
    border: 0;
    font-family: 'Caladea', sans-serif;
    font-size: 2rem;
    color: white;
    width:100% ;
    padding: 1rem;
}

.divEscolha img{
    max-height: 300px;
    width: 100%;
}

.traço2{
    background: red;
    height: 2px;
    margin-top: 5rem;
    width: 1300px;
    margin-left: 110px;
}

.tituloOqueDizem{
    color: #b4302d;
    font-family: 'Caladea', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 20px;
    margin-left: 90px;
}

.containerOque{
    
    max-width: 1400px;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.divRelato{
    background:  #b4302d;
    margin: 2rem;
    font-size: 2rem;
    padding: 2rem;
}

.traço3{
    background: red;
    height: 2px;
    margin-top: 1rem;
    width: 1300px;
    margin-left: 110px;
}

.containerContatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 710px;
}

.divContatos {
    margin-top: 1rem;
    margin-bottom: 2rem;
   
}

.divContatos img {
    height: 35px;
    width: 35px;
}

.divContatos a{
    color: black;
    font-size: 2rem;
    font-family: 'Caladea', sans-serif;
}

.divContatos1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
   
}

.divContatos1 img {
    height: 35px;
    width: 35px;
}

.divContatos1 a{
    color: black;
    font-size: 2rem;
    font-family: 'Caladea', sans-serif;
}

.containerContatos h1{
    color: #b4302d;
    font-family: 'Caladea', sans-serif;
    font-weight: 600;
    font-size: 6rem;
   
}


.containerContatos2{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
}

footer{
    width: 100%;
    background-color: #b31b1b;
    color: white;
    bottom: 0;
    text-align: center;
    height: 11rem;
    font-size: 1.5rem;
    font-family: 'Caladea', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.saibaMais{
    width: 100%;
}

.containerOque h1{
    font-family: 'Chonburi' , sans-serif;
}