<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sobrenos.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="Container">
        <header>
            <div class="headerContainer">
                <img class="headerImg" src="../../images/Concórdia-22.png" alt="">

                <a href="../home/index.html">HOME</a>
                <a href="../sobrenos/sobrenos.html">SOBRE NOS</a>
                <a href="../eventos/eventos.html">EVENTOS</a>
                <a href="../comites/comites.html">NOSSOS COMITES</a>
                <a href="../contatos/contatos.html">CONTATO</a>
            </div>
        </header>
        <div class="containerSobre">
            <h1>SOBRE NOS</h1>
            <h2>Transformando a educacao atraves das simulacoes</h2>
        </div>
        <div class="containerComo">
            <h1>
                Como nasceu a Concordia?
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu

            </p>
            <h1 class="titulosSobre">
                Nossos objetivos:
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu

            </p>
            <h1 class="titulosSobre">
                Nossos diferenciais
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip

            </p>
            <div class="traço">

            </div>
        </div>
        <h1 class="tituloEquipe">
            Nossa equipe:
        </h1>
        <div class="containerPessoas">


            <div class="containerGL">
                <img src="../../images/romario.jfif" alt="">
                <h1>GABRIEL REIS</h1>
                <h2>Presidente</h2>
            </div>

            <div class="containerGL">
                <img src=" ../../images/romario.jfif" alt="">
                <h1>LAURA LUGON</h1>
                <h2>Vice-Presidente</h2>

            </div>

        </div>
        <div class="containerPessoas2">
            <div class="containerALR">
                <img src=" ../../images/romario.jfif" alt="">
                <h1>ANA LUIZA AZEVEDO</h1>
                <h2>Coordenadora do departamento de Consultoria Academica</h2>
            </div>
            <div class="containerALR">
                <img src=" ../../images/romario.jfif" alt="">
                <h1>LUANA ARGOLLO</h1>
                <h2>Coordenadora do Departamento de Comunicacoes</h2>
            </div>
            <div class="containerALR">
                <img src=" ../../images/romario.jfif" alt="">
                <h1>RHAYNA CASADO</h1>
                <h2>Coordenadora do Departamento de Diretrizes Administrativas</h2>
            </div>
        </div>
        <div class="divStaff1">
            <h2>Staff do Departamento de Consultoria Academica:</h2>
            <p>Lorem ipsun blah blah balh blah blah blah blah blh</p>
        </div>
        <div class="divStaff2">
            <h2>Staff do Departamento de Comunicacao: </h2>
            <p>Lorem ipsun blah blahj blabh blh blah blah blah </p>
        </div>
        <div class="divStaff2">
            <h2>Staff do departamento de Diretrizes Administrativas:</h2>
            <p>Lorem ipsun blah blahj blabh blh blah blah blah</p>
        </div>

        <footer>
            <p>Site desenvolvido por Guilherme Evangelista</p>

            <p>&copy;2022 - Concordia Simulacoes.Todos os direitos reservados</p>


        </footer>
    </div>
</body>

</html>