<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="eventos.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="Container">
        <header>
            <div class="headerContainer">
                <img class="headerImg" src="../../images/Concórdia-22.png" alt="">

                <a href="../home/index.html">HOME</a>
                <a href="../sobrenos/sobrenos.html">SOBRE NOS</a>
                <a href="../eventos/eventos.html">EVENTOS</a>
                <a href="../comites/comites.html">NOSSOS COMITES</a>
                <a href="../contatos/contatos.html">CONTATO</a>
            </div>


        </header>
        <div class="ContainerEvent">
            <h1>NOSSOS EVENTOS</h1>
            <h2>Inscreva-se em nossos eventos e confira nossas</h2>
            <h2>experiencias passadas</h2>
        </div>
        <h1 class="tituloProx">Proximos eventos:</h1>
        <div class="proxContainer">
            <div class="divEventos">
                <img src="../../images/romario.jfif" alt="">
            </div>
            <div class="divEventos2">
                <h1>IV CONCORDIA VIRTUAL</h1>
                <div class="divEscrita">

                    <h2>Periodo de inscricoes:</h2>
                    <p>Lorem blahewfewfewf</p>
                </div>
                <div class="divEscrita">

                    <h2>Primeiro treinamento:</h2>
                    <p>Lorem blahfwefewf</p>
                </div>
                <div class="divEscrita">

                    <h2>Primeiro treinamento:</h2>
                    <p>Lorem blahwfewfewf</p>
                </div>
                <div class="divEscrita">

                    <h2>Segundo treinamento:</h2>
                    <p>Lorem blah fewfewfwef</p>
                </div>

                <div class="divEscrita">
                    <h2>Conferencia:</h2>
                    <p>Lorem Blah fewefwef</p>
                </div>
                <a class="Inscreva"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSf_nJdxVr1zr0jYHFa3k4duA2kDU9XscFuoHXvA4q9xnoD9ew/viewform?usp=sf_link"><button>INSCREVA-SE</button></a>



            </div>
        </div>
        <div class="eventosPassados">
            <h1 class="tituloProx">Eventos passados:</h1>
            <div class="proxContainer">
                <div class="divEventos">
                    <img src="../../images/romario.jfif" alt="">
                </div>
                <div class="divEventos2">
                    <h1>III CONCORDIA VIRTUAL</h1>
                    <div class="divEscrita">

                        <h2>Periodo de inscricoes:</h2>
                        <p>Lorem blahewfewfewf</p>
                    </div>
                    <div class="divEscrita">

                        <h2>Primeiro treinamento:</h2>
                        <p>Lorem blahfwefewf</p>
                    </div>
                    <div class="divEscrita">

                        <h2>Primeiro treinamento:</h2>
                        <p>Lorem blahwfewfewf</p>
                    </div>
                    <div class="divEscrita">

                        <h2>Segundo treinamento:</h2>
                        <p>Lorem blah fewfewfwef</p>
                    </div>

                    <div class="divEscrita">
                        <h2>Conferencia:</h2>
                        <p>Lorem Blah fewefwef</p>
                    </div>
                    <h2 class="encerrado">
                        EVENTO ENCERRADO
                    </h2>


                </div>


            </div>
            <footer>
                <p>Site desenvolvido por Guilherme Evangelista</p>

                <p>&copy;2022 - Concordia Simulacoes.Todos os direitos reservados</p>


            </footer>

</body>

</html>