<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="comites.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="Container">
        <header>
            <div class="headerContainer">
                <img class="headerImg" src="../../images/Concórdia-22.png" alt="">

                <a href="../home/index.html">HOME</a>
                <a href="../sobrenos/sobrenos.html">SOBRE NOS</a>
                <a href="../eventos/eventos.html">EVENTOS</a>
                <a href="../comites/comites.html">NOSSOS COMITES</a>
                <a href="../contatos/contatos.html">CONTATO</a>
            </div>


        </header>
        <div class="ContainerComit">
            <h1>NOSSOS COMITES</h1>
            <h2>Da disstribuicao de vacinas da covid ao universo de Harry Potter , nossos comites oferecem desafios
                unicos aos delegados</h2>

        </div>

        <h1 class="realizados">
            Comites Realizados:
        </h1>

        <div class="Crealizados">
            <div class="comites">
                <img src="../../images/romario.jfif" alt="">
                <h1>Organizacao mundial da saude</h1>
                <h2>+ Producao e distribuicao de vacinas </h2>
                <h2>contra covid 19</h2>
            </div>

            <div class="comites">
                <img src="../../images/romario.jfif" alt="">
                <h1>Gabinete de la Guerra Bruxa</h1>
                <h2> - Ordem da Fenix vs Comensais da Morte </h2>
                <h2>Lorem ipsun dolor lorem n</h2>
            </div>
        </div>



    </div>

    <footer>
        <p>Site desenvolvido por Guilherme Evangelista</p>

        <p>&copy;2022 - Concordia Simulacoes.Todos os direitos reservados</p>


    </footer>
</body>

</html>