*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

input{
    cursor: pointer;
    transition: 0.5s;
}

p,h1,h2,h3{
    cursor:default ;
}

input:hover{
    filter: opacity(80%);
}

button{
    border: 0;
    cursor: pointer;
    font-family: 'Caladea', sans-serif;
    transition: 0.5s;
    
}

button:hover{
    filter: opacity(80%);
    
}

a{
    text-decoration: none;
    transition: 0.5s;
}



a:hover{
    filter: opacity(80%);
}

.Container{
    overflow: auto;
}

.headerContainer{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerContainer a{
    font-size: 2rem;
    font-weight: 300;
    color: #b4302d;
    font-family: 'Chonburi', sans-serif;
}


.headerImg{
    max-width: 100px;
    max-height: 100px;
}

.ContainerComit{
    background: #b4302d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 650px;

    
}

.ContainerComit h1{
    color: white;
    font-weight: 300;
    font-family: 'Chonburi', sans-serif;
    font-size: 6rem;
   
}

.ContainerComit h2{
    color: white;
    font-weight: 300;
    font-family: 'Chonburi', sans-serif;
    font-size: 2.5rem;
   
}

.realizados{
    font-weight: 300;
    font-family: 'Chonburi', sans-serif;
    font-size: 4rem;
    color: #b4302d;
    margin-left: 4rem;
    margin-top: 20px;
}

.Crealizados{
    
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
    margin-top:50px ;
    
}

.comites{
    background: #b4302d;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-family: 'Caladea', sans-serif;
    
}

.comites img{
    width: 100%;
    border-radius: 10px;
   
}

footer{
    width: 100%;
    background-color: #b31b1b;
    color: white;
    bottom: 0;
    text-align: center;
    height: 11rem;
    font-size: 1.5rem;
    font-family: 'Caladea', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    
    
}