<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../contatos/contatos.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="Container">
        <header>
            <div class="headerContainer">
                <img class="headerImg" src="../../images/Concórdia-22.png" alt="">

                <a href="../home/home.html">HOME</a>
                <a href="../sobrenos/sobrenos.html">SOBRE NOS</a>
                <a href="../eventos/eventos.html">EVENTOS</a>
                <a href="../comites/comites.html">NOSSOS COMITES</a>
                <a href="../contatos/contatos.html">CONTATO</a>
            </div>


        </header>
        <div class="ContainerCont">
            <h1>CONTATO</h1>
            <h2>Por favor ,nao hesite em nos contatar para tirar duvidas</h2>
            <h2>ou propor parcerias</h2>
        </div>

        <div class="containerContatos">
            <h1>Entre em contato!</h1>
            <div class="containerContatos2">
                <div class="divContatos">
                    <img src="" alt="">
                    <a href="mailto:simconcordiavirtual@gmail.com">simconcordiavirtual@gmail.com</a>
                </div>
                <div class="divContatos">
                    <img class="divContatos" src="" alt="">
                    <a href="tel:+5561992472992">+55 61 992472992</a>
                </div>
                <div class="divContatos">
                    <img src="" alt="">
                    <a href="https://www.instagram.com/concordiasims/">@concordiasims</a>
                </div>
                <div class="divContatos1">
                    <img src="../../images/tik.png" alt="">
                    <a href="https://www.tiktok.com/@concordia_simulacoes?lang=pt-BR">@concordia_simulacoes</a>
                </div>
            </div>


        </div>
    </div>
    <footer>
        <p>Site desenvolvido por Guilherme Evangelista</p>

        <p>&copy;2022 - Concordia Simulacoes.Todos os direitos reservados</p>


    </footer>
</body>

</html>